<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.thomasrasshofer.alfred.pw</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>372FE5F6-56EE-4FBB-AC08-BB9DB5023749</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF21F4C6-D76D-4241-81E5-352889E08CC8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EF21F4C6-D76D-4241-81E5-352889E08CC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4FF1537B-8C2B-45CD-9B0B-54739173D87D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Thomas Rasshofer</string>
	<key>description</key>
	<string>Generates random passwords</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Password Generator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/bin/env ruby ./password-generator.rb {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EF21F4C6-D76D-4241-81E5-352889E08CC8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>pw</string>
				<key>subtext</key>
				<string>Generate random password</string>
				<key>text</key>
				<string>Password</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>372FE5F6-56EE-4FBB-AC08-BB9DB5023749</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4FF1537B-8C2B-45CD-9B0B-54739173D87D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>372FE5F6-56EE-4FBB-AC08-BB9DB5023749</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>4FF1537B-8C2B-45CD-9B0B-54739173D87D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>EF21F4C6-D76D-4241-81E5-352889E08CC8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://thomasrasshofer.com/</string>
</dict>
</plist>
